.nav-4 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #242527;
    width: 100vw;
    height: 50px;
    position: fixed;
    z-index: 2;
}

.nav-4 .logo {
    text-decoration: none;
    color: #e4e4ec;
    font-weight: 700;
    font-size: 29px;
}

.nav-4 button {
    width: 38px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 60px;
    background-color: rgba(255, 255, 255, 0.05);
    transition: 0.15s;
}

.nav-4 button:active {
    background-color: rgba(255, 255, 255, 0.025);
}

.nav-4 button img {
    width: 27px;
    height: 27px;
    transform: translateY(-1px);
    opacity: 0.7;
}

@media (min-width:400px) {
    .nav-4 {
        max-width: 395px;
    }
}